<h3>New posts</h3>
<%= form_with model: @article, local: true do |f| %>
  <div>
    <div class = "form-group mt-4">
      <%= f.label "Title" %>
      <p><%= f.text_field :title, class:"form-control" %></p>
    </div>

    <div class = "form-group">
      <%= f.label "Body" %>
      <p><%= f.text_area :body,rows: 10, class:"form-control" %></p>
    </div>

      <%= f.submit "submit" ,class: "btn btn-dark btn-block" %>
  </div>
<% end %>



