<div>
  <h1>論文詳細</h1>
  <p>タイトル:<%= @article.title %></p>
  <p><%= @article.body %></p>
</div>
<div>
  <%= link_to "Article", articles_path, class:"btn btn-dark" %>
  <%= link_to "編集", edit_article_path, class:"btn btn-dark" %>
  <%= link_to "削除", article_path, method: :delete, class:"btn btn-dark", data: {confirm: '削除してよろしいですか？'} %>
</div>

